meta(name="viewport", content="width=device-width, initial-scale=1")
meat(charset="utf-8")
link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
link(href="/lib/leaflet/dist/leaflet.css", rel="stylesheet")
link(href="/lib/angular-bootstrap-nav-tree/dist/abn_tree.css", rel="stylesheet")
link(href="/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css", rel="stylesheet")
link(href="/lib/leaflet-dvf/dist/css/dvf.css", rel="stylesheet")
link(href="/lib/sidebar-v2/css/leaflet-sidebar.css", rel="stylesheet")
link(href="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css", rel="stylesheet")
link(href="/lib/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css",rel="stylesheet")
link(href="/lib/angular-tree-control/css/tree-control.css",rel="stylesheet")
link(href="/lib/angular-tree-control/css/tree-control-attribute.css",rel="stylesheet")
link(href="/lib/vis/dist/vis.min.css",rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
	
script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/lib/leaflet/dist/leaflet.js')
script(type='text/javascript', src='/lib/angular/angular.min.js')
script(type='text/javascript', src='/lib/angular-file-upload/dist/angular-file-upload.js')
script(type='text/javascript', src='/lib/Split.js/split.min.js')
script(type='text/javascript', src='/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
script(type='text/javascript', src='/lib/angular-bootstrap-contextmenu/contextMenu.js')
script(type='text/javascript', src='/lib//ng-scrollbars/dist/scrollbars.min.js')
script(type='text/javascript', src='/lib/underscore/underscore.js')
script(type='text/javascript', src='/lib/bootstrap-switch/dist/js/bootstrap-switch.js')
script(type='text/javascript', src='/lib/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js')
script(type='text/javascript', src='/lib/angular-pageslide-directive/dist/angular-pageslide-directive.min.js')
script(type='text/javascript', src='/lib/Split.js/split.js')
script(type='text/javascript', src='/lib/angular-bootstrap-contextmenu/contextMenu.js')
script(type='text/javascript', src='/lib/angular-bootstrap-nav-tree/dist/abn_tree_directive.js')
script(type='text/javascript', src='/lib/angular-pageslide-directive/dist/angular-pageslide-directive.min.js')
script(src="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
script(src="/lib/ng-scrollbars/dist/scrollbars.min.js")
script(src="/lib/angular-bootstrap-toggle-switch/angular-toggle-switch.js")

script(type='text/javascript', src='/lib/leaflet-dvf/dist/leaflet-dvf.js')
script(type= 'text/javascript',src='/lib/sidebar-v2/js/jquery-sidebar.min.js')
script(type= 'text/javascript',src='/lib/sidebar-v2/js/leaflet-sidebar.min.js')
script(type= 'text/javascript',src='/lib/Leaflet.ChineseTmsProviders/src/leaflet.ChineseTmsProviders.js')
script(type= 'text/javascript',src='/lib/vis/dist/vis.min.js')
script(type= 'text/javascript',src='/lib/moment/min/moment-with-locales.min.js')
script(type= 'text/javascript',src='/lib/angular-tree-control/angular-tree-control.js')

script(type='text/javascript', src='/js/util.js')
script(type='text/javascript', src='/js/angular-dragable-div.js')
script(type='text/javascript', src='/js/controllers.js')
