doctype html
html#ng-app(ng-app='myApp')
  head
    include ../includes/head
  body
    include ../includes/ng-template
    div(ng-controller="edit")
      div(edit-nav)
      //-文档视图
      div#docview(ng-show="!state.showMapView")
        div(doc-panels)
      //-地图视图
      div#mapview(ng-show="state.showMapView")
        div(map-view)